body{
    font-family:'Roboto',sans-serif;
    margin: 0;
}
h1{
    padding: 6px;
    background;none;
    border-radius: 8px;
    font-family: Roboto Slab, serif;
    margin: 0;
    font-size: 120px;
}
p{
    line-height: 1.5;
}
main{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
input,
textarea{
    height: 35px;
    padding: 0 10px;
    font-family:"Roboto-Condensed" sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: 8px 3px 18px -4px rgba(0,0,0,0.4);
}
input:focus,
textarea:focus{
    outline: none;
}
#banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0.2) url(images/wall.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}
#banner h3{
    background;none;
    padding: 0 24px;
    border-radius: 8px;
    font-size: 24px;
    font-family: Roboto Slab, serif;
}
#search-box{
    position: fixed;
    margin-left: 490px;
    top: 85px;
    width: 400px;
    pointer-events: none;
    z-index: 50;
    transition: 0.4s;
    display: none;
}
#search-box input{
    height: 48px;
    width: 100%;
}
nav{
    height: 72px;
    background:rgba(19, 19, 20, 0.438);
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto-Condensed' sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;

}
nav a{
    padding: 0 32px;
    color:rgba(255, 255, 255, 0.877);
    transition: 0.4s;

}
nav a:hover{
text-decoration: none;
color: rgba(57, 114, 236, 0.712);

}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;

}
.active{
    color:  rgba(57, 114, 236, 0.712);
}
#logo-img{
    display: none;
    height: 100%;
    background: none;
    padding: 0 9px;
    align-items: center;
    color: white;
    transition: 0.4s;
}
#logo-img img{
    height: 81px;
    width: auto;

}
#logo-img:hover{
    background: black
}
#menu-icons{
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color:  rgba( 139,130, 148, 0.726);
    display: none;
    align-items: center;

}
#search-icon{
    color: white;
    padding: 0 32px;
    cursor: pointer;
    transition: 0.4s;
}
#search-icon:hover{
    color:  rgba(72, 78, 90, 0.712);
}
#slideout-menu{
    display: none;
    background-color:rgba(38, 39, 43, 0.5);
    z-index: 100;
    position:fixed;
    transition: 0.3s;
    margin-top: 42px;
    margin-left: 25px;
    width: 90%;
    text-align: center;
    opacity: 0;
    pointer-events: none;

}
#slideout-menu ul{
    list-style: none;
    padding: 0 22px;

}
#slideout-menu ul li{
    padding: 8px;
}
#slideout-menu a{
    font-family: "Roboto-Condensed" sans-serif;
    font-size: 20px;
    color: white;

}
#slideout-menu input{
    width: 75%;
    padding: 8px;
    font-family: "Roboto-Condensed" sans-serif;
    font-size: 20px;
    text-align: center;
}
section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section-heading{
   font-size: 32px;
   font-family: "Roboto Condensed", sans-serif;
   border-left: 1px solid black;
   border-right: 1px solid black;
   transition:all 0.4s;
   display: inline-block;
   padding: 4px 20px;
   
}
.section-heading:hover{
    padding: 4px 48px;
    background: rgba(2, 59, 73, 0.637);
}
#section-source p{
    padding: 8px;
    text-align: center;
}
#section-source a{
    margin: 8 px;
    text-align: center;
}
.card-image{
    transition: 0.4s;
}
.card-image:hover{
    box-shadow: 0 10px 6px -6px #777;
}
.card .card-description{
padding: 0 8px;
}
.btn-readmore{
    padding: 8px 24px;
    border: 2px solid black;
    transition: 0.1s;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 0px;
    font-weight: bold;
    cursor: pointer;
    background: white;
    text-decoration: none;
}
.btn-readmore:hover{
    box-shadow: 0 10px 6px -6px #777;
    background:rgba(8, 64, 175, 0.075);
   
}
footer{
    background: rgb(0, 0, 0);
    padding: 8px;
    color: #eee;
    display: flex;
}
footer a{
    color:white ;

}
footer #left-footer{
    flex:1;
    border-right: 1px solid red;
    padding-left: 30px;
}
footer #left-footer ul{
    padding: 0px;
    list-style: none;
    line-height: 1.5;

}
footer #right-footer{
    flex: 2;
    text-align: center;
    padding: 8px;
}
footer #social-media-footer a .fa-facebook
footer #social-media-footer a .fa-instagram
footer #social-media-footer a .fa-github{
    color: white;
    transition: 0.4s
}
footer #social-media-footer ul{
 display: flex;
 list-style: none;
 justify-content: center;
 padding: 0;   
}
footer #social-media-footer ul li{
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}
footer #social-media-footer ul li:hover a .fa-facebook{
    color: rgba(5, 45, 126, 0.637);
}
footer #social-media-footer ul li:hover a .fa-github{
    color: rgba(236, 134, 0, 0.986);
}   
footer #social-media-footer ul li:hover a .fa-instagram{
    color: rgba(231, 78, 162, 0.842);
}

@media(max-width:900px){
    nav ul{
        display:none;
    }
    #menu-icons{
        display: flex;
    }
    #slideout-menu{
     display: block; 
    }
    #searchbox{
        display: none;
  }
}
@media(max-width:768px){
    main{
        width: 98%;
        text-align: center;
    }
    h1{
        font-size: 75px;
    }
    nav{
        background: none;
    }
}
@media(max-width: 719px) {
    main{
        width:100%;
    }
    section{
        flex-direction: column;
    }
    .card,
    .card .card-image img{
        width: 100%;
    }
    footer{
        flex-direction: column;
        text-align: center;

    }
    footer #left-footer{
        flex: 1;
        padding-left: 0;
        border-right: 0;
    }
    footer #right-footer{
        background: #eee;
        color: black;
    }
    footer #right-footer a{
        color: black;
    }
    footer #social-media-footer a .fa-fcebook,
    footer #social-media-footer a .fa-github,
    footer #social-media-footer a .fa-instagram{
        color: black;
        transition: 0.2s;
     
    }
}
    @media(max-width:600px){
        main{
            width: 100%;
        }
        #banner h3{
            font-size: 20px;
        }
        .card{
            text-align: center;
        }
        #logo-img{
            padding: 0;
        }
    }
    @media (max-width:380px){
        main{
            width: 100%;
        }
    }
@media(min-width:720px){
    main{
        width:100%;
    }
    .card{
        width:45%;
    }
    .card .card-image img{
        width:100%;
    }

}
@media(min-width:1200px){
    main{
        width: 98%;
    }

}